body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
footer { margin-top: auto; }

.footer { padding: 3rem 1.5rem; }

#wrapper { flex: 1; }

.navbar { border-bottom: 1px solid #eee; }
.navbar-item img { max-height: 2.5rem; }

.card { margin: 0.5rem; }

.orbitron {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.1rem;
}

.content pre {
	background-color: transparent;
	padding: 0;
}

.monospace {
	font-family: 'Lucida Console', Monaco, monospace;
}
