{% extends 'base.html' %}


{% block content %}
<div class="content">
	<h3 class="orbitron">Join a Game</h3>
	<form action="/game/search" method="get">
		<div class="field has-addons">
			<div class="control">
				<input type="text" class="input" name="game_uid" placeholder="Game id">
			</div>
			<div class="control">
				<button type="submit" class="button is-primary">Join</button>
			</div>
		</div>
	</form>

	<h3 class="orbitron">Create a Game</h3>
	{% if user.is_authenticated %}
		<form action="/game/create/" method="post">
			{% csrf_token %}

			{% load static %}
			{% for variant in variants %}
				<div class="card is-inline-block" style="margin:0.5rem">
					<div class="card-image">
						<figure class="image is-128x128">
							<img src="{% static 'img/variant-'|add:variant.value|lower|add:'.png' %}" alt="{{ variant.label }}">
						</figure>
					</div>

					<header class="card-header">
						<p class="card-header-title">{{ variant.label }}</p>
					</header>

					<div class="card-content">
						{{ variant.teams }} teams
						<br>
						{{ variant.players }} players
					</div>

					<div class="card-footer" style="text-align:center">
						<div class="card-footer-item">
							<button type="submit" class="button is-primary" name="variant" value="{{ variant.value }}">Create</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</form>
	{% else %}
		<p>You must be logged in to create a game.</p>
	{% endif %}
</div>

{% comment %}
<form action="{% url 'create_or_join' %}" method="post">
	{% csrf_token %}
	<div class="field has-addons">
		<div class="control">
			{{ form.name }}
		</div>
		<div class="control">
			<button class="button is-link">Go</button>
		</div>
	</div>
	<p class="help">Create a game, or join a game in progress.</p>
</form>
{% endcomment %}
{% endblock content %}
