{% extends 'base.html' %}


{% block content %}
<div class="content">
	{% load static %}

	<p>
		{% if user.is_authenticated %}
			<a class="button is-primary orbitron" href="/game/new">Create Game</a>
		{% else %}
			<a href="{% url 'signup' %}">Sign up</a> or <a href="{% url 'login' %}">log in</a> to create a game.
			<br>Or join an existing game:
		{% endif %}
	</p>

	<form action="/game/search/" method="get">
		<div class="field has-addons">
			<div class="control">
				<input type="text" class="input" name="game_identifier" placeholder="Game code">
			</div>
			<div class="control">
				<button type="submit" class="button is-primary orbitron">Join</button>
			</div>
		</div>
	</form>

	{% if my_turn %}
		<h3 class="orbitron">Your Turn</h3>
		<div id="app">
			{% for game in my_turn %}
				<a href="/game/{{ game.code }}">
					<div class="card is-inline-block is-size-7">
						<header class="card-header">
							<p class="card-header-title orbitron" style="padding:0.5rem">
								{{ game.code }}
							</p>
						</header>

						<div class="has-text-centered">
							<svg width="125" height="125" viewbox="0 0 100 100">
								<board :x=50 :y=50 :size=50 hfen="{{ game.hfen }}"/>
							</svg>
						</div>

						<div class="card-footer">
							<pre>{{ game.hpgn_player_tags }}</pre>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
</div>
{% endblock content %}


{% block scripts %}
{% if my_turn %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js"></script>
	<script> const IS_LIVE = false </script>
	<script src="{% static 'js/game.js' %}"></script>
{% endif %}
{% endblock scripts %}
