{% extends 'base.html' %}

{% block title %}Profile - Hexachromix{% endblock %}

{% block content %}
<script src="https://kit.fontawesome.com/7429ed9b88.js" crossorigin="anonymous"></script>

<style>
	.fa-btn {
		background: none;
		border: none;
		font-size: 1.2rem;
		padding: 0;
	}
	.fa-btn span {
		color: #666;
		cursor: pointer;
	}
</style>

<div class="content">
	{% if show_friends %}
		<div class="columns">
			<div class="column is-narrow">
				<h3 style="margin-bottom:0.5rem">Friends</h3>

				{% if friends %}
					<table class="table is-narrow">
						{% for friend in friends %}
							<tr>
								<td><a href="/profile/{{ friend.username }}/">{{ friend.username }}</a></td>
								<td class="has-text-right" style="padding-left:3rem">
									{% if False %}
									<form action="/friends/challenge/" method="post" style="display:inline; padding:0;">
										{% csrf_token %}
										<button type="submit" class="fa-btn" name="upk" value="{{ friend.pk }}">
											<span class="icon">
												{% comment %}<i class="fas fa-chess-knight" title="Challenge to a game"></i>{% endcomment %}
												{% comment %}<i class="fas fa-chess-queen" title="Challenge to a game"></i>{% endcomment %}
												{% comment %}<i class="fas fa-crown" title="Challenge to a game"></i>{% endcomment %}
												<i class="fas fa-paper-plane" title="Challenge to a game"></i>
											</span>
										</button>
									</form>
									{% endif %}
									<form action="/friends/remove/" method="post" style="display:inline; padding:0;" onsubmit="return confirm('Are you sure you want to remove {{ friend.username }}?')">
										{% csrf_token %}
										<button type="submit" class="fa-btn" name="upk" value="{{ friend.pk }}">
											<span class="icon">
												<i class="fas fa-minus-circle" title="Remove friend"></i>
											</span>
										</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}

				<h5>Send a friend request</h5>
				<form action="/friends/request/" method="post" style="display:inline; padding:0;">
					{% csrf_token %}

					<div class="columns is-mobile" style="padding:0.25rem">
						<div class="column">
							<input type="text" class="input is-small" name="name">
						</div>

						<div class="column is-narrow">
							<button type="submit" class="fa-btn">
								<span class="icon is-medium">
									<i class="fas fa-plus-circle" title="Send friend request"></i>
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div class="column is-narrow">
				<table class="table is-narrow">
					{% if pending_you %}
						<tr>
							<th colspan="2" class="has-text-left">
								Friend Requests
							</th>
						</tr>
						{% for fr in pending_you %}
							<tr>
								<td><a href="/profile/{{ fr.requester.username }}/">{{ fr.requester.username }}</a></td>
								<td class="has-text-right" style="padding-left:3rem">
									<form action="/friends/accept/" method="post" style="display:inline; padding:0;">
										{% csrf_token %}
										<button type="submit" class="fa-btn" name="frpk" value="{{ fr.pk }}">
											<span class="icon">
												<i class="fas fa-check-circle" title="Accept friend request"></i>
											</span>
										</button>
									</form>
									<form action="/friends/decline/" method="post" style="display:inline; padding:0;">
										{% csrf_token %}
										<button type="submit" class="fa-btn" name="frpk" value="{{ fr.pk }}">
											<span class="icon">
												<i class="fas fa-times-circle" title="Reject friend request"></i>
											</span>
										</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					{% endif %}

					{% if pending_them %}
						<tr>
							<th colspan="2" class="has-text-left">
								Pending Requests
							</th>
						</tr>
						{% for fr in pending_them %}
							<tr>
								<td><a href="/profile/{{ fr.responder.username }}/">{{ fr.responder.username }}</a></td>
								<td class="has-text-right" style="padding-left:3rem">
									<form action="/friends/cancel/" method="post">
										{% csrf_token %}
										<button type="submit" class="fa-btn" name="frpk" value="{{ fr.pk }}">
											<span class="icon">
												<i class="fas fa-minus-circle" title="Cancel friend request"></i>
											</span>
										</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>
	{% endif %}

	<h3>Games</h3>
	<div class="table-container">
		<table class="table has-text-left">
			<thead>
				<tr>
					{% if user.is_staff %}
						<th>pk</th>
						<th>Author</th>
					{% endif %}
					<th>Game ID</th>
					<th>Variant</th>
					<th>Players</th>
					<th>Result</th>
					<th>HFEN</th>
				</tr>
			</thead>
			<tbody>
				{% for game in games %}
					<tr>
						{% if user.is_staff %}
							<td>{{ game.id }}</td>
							<td><a href="/profile/{{ game.author.username }}/">{{ game.author.username }}</a></td>
						{% endif %}
						<td><a class="monospace" href="/game/{{ game.uid }}">{{ game.uid }}</a></td>
						<td>{{ game.get_variant_display }}</td>
						<td><pre class="help" style="line-height:1rem; margin:0;">{{ game.hpgn_player_tags }}</pre></td>
						<td>{{ game.result | default:'' }}</td>
						<td><div class="help monospace" style="margin:0">{{ game.hfen }}</div></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
