{% extends 'base.html' %}

{% block title %}Hexachromix - {{ game.uid }}{% endblock %}

{% block content %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>

<script src="https://kit.fontawesome.com/7429ed9b88.js" crossorigin="anonymous"></script>

{% load static %}

<div class="content">
	<script> var IS_LIVE = true </script>
	{{ game.uid | json_script:"GAMEUID" }}

	<div id="app">
		<div class="columns is-desktop">
			<div class="column" style="text-align:center">
				<h3 class="orbitron">
					[[ termination_message ?? colors[currentColor].name + "'s turn" ]]
				</h3>

				<svg viewbox="0 0 100 100" style="width:80vmin; height:80vmin;">
					<circle cx="4" cy="4" r="1.25" stroke="#555" stroke-width="0.35" :fill="[[ socket_is_live ? '#0c0' : '#d00' ]]"/>
					<text x="6.5" y="4" fill="#555" style="font-size:0.25rem; text-anchor:left; dominant-baseline:central; pointer-events:none;">
						[[ socket_is_live ? 'Live' : 'Disconnected' ]]
					</text>

					<board :x=50 :y=55 :size=50 />
				</svg>
			</div>

			<div class="column">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							Game {{ game.uid }}
						</p>
					</header>
					<div class="card-content">
						<div class="content">
							Variant: {{ game.get_variant_display }}
						</div>
					</div>
				</div>

				<div v-if="!termination_message" class="card">
					<header class="card-header">
						<p class="card-header-title">
							Color picker
						</p>
					</header>
					<div class="card-content">
						<div class="content">
							<color-picker></color-picker>

							{% if user == game.author %}
								<hr>
								<button class="button is-rounded" v-on:click="releaseAllColors()">
									Reset all colors
								</button>
							{% endif %}
						</div>
					</div>
				</div>

				{% if request.GET.debug == '1' or user.is_superuser %}
					<div class="card">
						<header class="card-header">
							<p class="card-header-title">Debug</p>
						</header>
						<div class="card-content">
							<div class="help" style='font-family: "Lucida Console", Monaco, monospace'>
								game id: {{ game.id }}<br>
								hfen: [[ hfen ]]<br>
								pid: [[ pid ]]<br>
								{% for c in 'RYGCBM' %}
									{{ c }}: [[ colorPlayers['{{ c }}'] ]]<br>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<script src="{% static "js/game.js" %}"></script>
</div>
{% endblock content %}
