{% extends 'base.html' %}

{% block title %}{{ game.code }}{% endblock %}

{% block content %}
{% load static %}

<div class="content">
	<div id="app">
		<div class="columns is-desktop">
			<div class="column">
				<h3 class="orbitron has-text-centered mb-0">[[ termination_message || status_message ]]</h3>

				<div v-if="!termination_message">
					<span class="icon-text" :class="[[ socket_is_live ? 'has-text-success' : 'has-text-danger' ]]">
						<span class="icon">
							<i class="fas" :class="[[ socket_is_live ? 'fa-check-circle' : 'fa-exclamation-circle' ]]"></i>
						</span>
						<span class="orbitron">[[ socket_is_live ? 'Connected' : 'Disconnected' ]]</span>
					</span>
				</div>

				<svg viewbox="0 0 100 96" style="width:80vmin; height:80vmin;">
					<board :x=50 :y=48 :size=50 />
				</svg>
			</div>

			<div class="column">
				<div v-if="!termination_message" class="card">
					<header class="card-header">
						<p class="card-header-title orbitron">Teams</p>
					</header>
					<div class="card-content">
						<div class="content">
							<color-picker></color-picker>
							{% if user == game.author %}
								<hr>
								<button class="button is-warning orbitron" v-on:click="resetColors()">Reset</button>
								<button class="button orbitron" v-on:click="aiClaimColors()">AI play remaining</button>
							{% endif %}
						</div>
					</div>
				</div>

				{% if request.GET.debug == '1' or user.is_superuser %}
					<button class="button is-primary orbitron" v-on:click="makeBestMove()">Best Move</button>
					<div class="card">
						<header class="card-header">
							<p class="card-header-title orbitron">Debug</p>
						</header>
						<div class="card-content help monospace">
							<div class="mb-2">
								identifiers: {{ game.id }} {{ game.uid }} {{ game.code }}<br>
								hfen: [[ hfen ]]<br>
								pid: [[ pid ]]<br>
							</div>
							<div class="mb-2">
								{% for c in 'RYGCBM' %}
									{{ c }}: [[ colorPlayers['{{ c }}'] ]]<br>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block scripts %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>

{% comment %}<script src="https://kit.fontawesome.com/7429ed9b88.js" crossorigin="anonymous"></script>{% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
	const IS_LIVE = true
	const GAME_UID = "{{ game.uid }}"
</script>
<script src="{% static "js/game.js" %}"></script>
{% endblock scripts %}
