{% extends 'base.html' %}

{% block title %}Hexachromix - {{ game.uid }}{% endblock %}

{% block content %}
{% load static %}

<div class="content">
	<div id="app">
		<div class="columns is-desktop">
			<div class="column" style="text-align:center">
				<svg viewbox="0 0 100 100" style="width:75vmin; height:75vmin;">
					<board :x=50 :y=50 :size=50 />
				</svg>
			</div>

			<div class="column">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">Moves</p>
					</header>
					<div class="card-content">
						<div class="content">
							{{ moves | json_script:"move-browser-moves" }}
							<move-browser></move-browser>
						</div>
					</div>
				</div>

				<div class="card">
					<header class="card-header">
						<p class="card-header-title">HPGN</p>
					</header>
					<div class="card-content help">
						<pre>{{ game.formatted_hpgn }}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block scripts %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>

<script src="https://kit.fontawesome.com/7429ed9b88.js" crossorigin="anonymous"></script>

<script> var IS_LIVE = false </script>
<script src="{% static "js/game.js" %}"></script>
{% endblock scripts %}
